.cart{
	display: flex;
	flex-direction: column;
}
.cart-btns{
	display: flex;
	gap: 1rem;
	padding: 0 1rem;
}
.cart-total{
	color: var(--secondary);
	margin: 1rem;
}
.cart-empty{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	min-height: calc(100vh - 75px);
}
.img-cart-empty{
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 600px;
}