.item-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: calc(100vh - 75px);
	padding: 1rem;
}
.item-list-container .item-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 1rem;
	width: 100%;
}
.item-list-container > h2 {
	font-size: 2rem;
	margin: 1rem;
}