.checkout {
	padding: 2rem 1rem 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	width: 100%;
	max-width: 600px;
	margin: 2rem auto;
}
.checkout-container{
	padding: 1rem;
}
.form-title{
	margin-bottom: 1rem;
	text-align: center;
}
.step-title {
	font-size: 1.5rem;
	font-weight: bold;
}	
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem 0;
}
fieldset {
	border: 0;
	padding: 0;
	margin: 0.5rem;
	width: 100%;
}
legend {
	font-size: 1.5rem;
	font-weight: bold;
}
.form-btns{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 2rem ;
}
.form-btn-last{
	padding-bottom: 1rem;
}
.review-order {
	margin-top: 1.5rem;
	padding-bottom: 1rem;
	display: grid;
}
.review-order h3{
	line-height: 2;
}
.review-order li {
	list-style: none;
	padding: 0.5rem 0;
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
.review-order-shipping li, .review-order-payment li{
	margin-bottom: 0;
}

.review-order .review-total {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 0;
	font-size: 1.1rem;
}
.review-order-products{
	margin-top: .5rem;
	margin-bottom: 1rem;
}
.review-order-shipping, .review-order-payment{
	margin-bottom: 1rem;
}

.thanks p{
	margin-bottom: 1rem;
}

@media (min-width: 600px) {
	.review-order {
		grid-template-columns: 1fr 1fr;
	}
	.review-order h2, .review-order-products{
		grid-column: span 2;
	}
}