.header{
	background-color: #d6c5ff;
	width: 100%;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
	position: sticky;
	top: 0;
	z-index: 999;
}
.header > .header-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 75px;
	padding: 0 1rem;
}

.nav-icons{
	display: flex;
	align-items: center;
	gap: 1rem;
}
.navbar-burger{
	--size: 48px;
	height: var(--size);
	width: var(--size);
	border-radius: 4px;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0 ;
	transition: none;
}
.navbar-burger:active{
	transform: scale(.95);
}

.nav{
	display: flex;
	gap: 1rem;
}
.nav a{
	text-decoration: none;
	padding: .5rem 0;
	display: inline-block;
	color: #eee;
	border-bottom: 2px solid transparent;
	transition: all .3s ease-in-out;
}
.nav a:hover{
	color: #61dafb;
	border-bottom: 2px solid #61dafb;

}

.categories{
	display: none;
	position: fixed;
	top: 75px;
	left: 0;
	background-color: #d6c5ff;
	width: 100%;
	padding: .5rem 1rem;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
.categories.is-active{
	display: flex;
}	
.categories a{
	text-decoration: none;
	color: #7c2cab;
	font-size: 1.2rem;
	padding: .5rem 0;
	display: inline-block;
	border-bottom: 2px solid transparent;
	transition: all .3s ease-in-out;
}
.categories a:hover{
	color: #b162ff;
	border-bottom: 2px solid #b162ff;
}
.logo img{
	width: 100%;
	max-width: 150px;
}
.categories .active{
	color: #b162ff;
}

@media screen and (min-width: 768px) {
	.hidden-lg{
		display: none;
	}
	.viewed-lg{
		display: flex;
	}
	.categories{
		position: static;
		display: flex;
		flex-direction: row;
	}
	.nav-icons{
		flex-direction: row-reverse;
	}
}