@import "components/ItemDetail/ItemDetail.css";
:root{
	--primary: #d6c5ff;
	--secondary: #8c6dcf;
}
*{
	margin: 0;padding: 0;box-sizing: border-box;
}
*:before, *:after {
	box-sizing: inherit;
}
html{
	scroll-behavior: smooth;
}
body{
	background-color: rgb(244, 240, 255);
	color: #333;
}
.max-width{
	max-width: 1400px;
	margin: 0 auto;
}
.container{
	width: 100%;
	min-height: calc(100vh - 75px);
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}