.item-count{
	display: flex;
	gap: 1rem;

}
button{
	border: none;
	outline: none;
	cursor: pointer;
	text-align: center;
	transition: all 0.3s ease-in-out;
}
button:hover{
	opacity: .8;
}

.item-counter{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .5rem;
	flex-grow: 2;
	border: 1px solid #ccc;
	border-radius: 1rem;
}
.item-counter > button{
	border-radius: 100%;
	background: none;
}

.item-counter > span {
	text-align: center;
	line-height: 1;
	flex-grow: 1;
	margin: 0 1rem;
}
.add-cart{
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	flex-grow: 3;
	background: #a488e6;
	color: #fff;
	border: none;
	padding: .5rem .8rem;
	border-radius: 1rem;
	max-width: 20rem;
	margin: 0 auto;
}
.add-cart:hover{
	opacity: .8;
}